* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(77, 134, 134);
    text-align: center;
}

main {
    margin-top:4vh; 
}

h1 {
    font-size: 10vmin;
    margin-bottom: 2vh;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    /* color: rgb(167, 68, 68); */
    /* color: rgba(33, 30, 70, 0.731); */
    background-color: rgb(231, 231, 194);
}

#reset-btn {
    padding: 1rem;
    font-size: 0.8rem;
    background-color: rgba(2, 2, 2, 0.884);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 0.8rem;
    background-color: rgba(2, 2, 2, 0.884);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: rgb(231, 231, 194);
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}